{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Summary</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <style>
    </style>
</head>

<body>

    <!-- Navbar -->
    <nav class="mb-4 navbar navbar-expand-lg navbar-dark indigo">
        <img src="{% static 'img/Achilles2_logo_1.png' %}" width="70" height="80">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto" style="margin-left: 60px;">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="/profile">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="/logout">Logout</a>
                </li>
            </ul>
            <span class="navbar-text white-text">
                Assignment Summary Page
            </span>
        </div>
    </nav>

    <!-- Assignment Summary Section -->

    <div class="jumbotron bg-light">
        <h1 class="display-4 text-center">Assignment Summary Page</h1>
        <p class="lead text-center">Students in class: {{no_of_students.count}}</p>
        <p class="lead text-center">Submissions till now: {{submissions_count}}</p>
        <a class="btn btn-danger btn-lg" href="{% url 'delete_assignment' assignment_id=assignment.id %}">Delete
            Assignment</a>
	<hr class="my-4">
        <p>
        <h5>Basic Information</h5>
        <ul>
            <li>Marks for Correct Response: {{assignment.positive_marks}}</li>
            <li>Marks for Incorrect Response: {{assignment.negative_marks}}</li>
            <li>Total number of Questions: {{assignment.num_ques}}</li>
        </ul>
        </p>
        <p class="lead text-center">
            <a class="btn btn-primary btn-lg" href="{% get_media_prefix %}{{ assignment.question_file }}"
                download>Download Questions</a>

            {% if assignment.result != "" %}
            <a class="btn btn-primary btn-lg" href="{% get_media_prefix %}{{ assignment.result }}" download>Download
                Result</a>
            {% endif %}
        </p>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>

</html>
